<!-- <a class="like-cont" (click)="onLike()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 22.224 21.091"
    width="2rem"
  >
    <g
      id="Icon_ionic-md-thumbs-up"
      data-name="Icon ionic-md-thumbs-up"
      transform="translate(-2.375 -3.082)"
    >
      <path
        id="Path_578"
        data-name="Path 578"
        d="M13.1,23.173h8.364a1.784,1.784,0,0,0,1.663-1.138L25.9,15.451a1.861,1.861,0,0,0,.126-.681V12.893a2.145,2.145,0,0,0-1.838-2.169h-5.8l.875-3.963.029-.292a1.41,1.41,0,0,0-.4-.987L17.912,4.5l-6.127,6.19a1.872,1.872,0,0,0-.535,1.318v9.336A1.834,1.834,0,0,0,13.1,23.173Z"
        transform="translate(-2.429)"
        stroke-width="2"
      />
      <path
        id="Path_579"
        data-name="Path 579"
        d="M3.375,15.75H6.487V26.642H3.375Z"
        transform="translate(0 -3.47)"
        stroke-width="2"
      />
    </g>
  </svg>
  Like
</a>

<p style="color: red">{{ total_likes }}</p> -->

<div class="VirtuFit-Main-container">
  <div class="project_intro" style="padding-top: 0">
    <!-- <img
      src="./../../assets/work/virtufit/vectors/Banner-3.png"
      alt=""
      style="width: 100%; height: auto"
    /> -->
    <picture>
      <source
        srcset="./../../assets/work/virtufit/vectors/Banner-3.webp"
        type="image/webp"
        style="width: 100%; height: auto"
      />
      <source
        srcset="./../../assets/work/virtufit/vectors/Banner-3.png"
        type="image/jpeg"
        style="width: 100%; height: auto"
      />
      <img
        src="./../../assets/work/virtufit/vectors/Banner-3.png"
        style="width: 100%; height: auto"
      />
    </picture>
  </div>
  <div class="project_intro" style="padding-top: 4rem">
    <img
      src="./../../assets/work/virtufit/project-brief-lap.png"
      alt=""
      class="project_intro_overview"
      id="trans-lap"
    />
    <img
      src="./../../assets/work/virtufit/project-brief-mob.png"
      alt=""
      class="project_intro_overview"
      id="trans-mob"
      style="margin: 2rem auto"
    />
  </div>

  <div class="project_intro" style="padding-top: 4rem">
    <img
      src="./../../assets/work/virtufit/solution-head-lap.png"
      alt=""
      style="width: 100%; height: auto"
      id="trans-lap"
    />
    <img
      src="./../../assets/work/virtufit/solution-head-mob.png"
      alt=""
      style="width: 100%; height: auto; margin-bottom: 1rem"
      id="trans-mob"
    />
  </div>
  <div
    class="project_intro project_intro_video_cont"
    style="padding-top: 0; margin-top: -1rem; padding-bottom: 4.3rem"
  >
    <div style="position: relative">
      <div class="project_intro_video">
        <iframe
          src="https://www.youtube.com/embed/nqWYUtuveD4?autoplay=1&mute=1&controls=1&loop=1&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=nqWYUtuveD4"
          title="YouTube video player"
          frameborder="0"
          allowfullscreen
          allow="autoplay"
        ></iframe>
      </div>

      <img
        src="./../../assets/work/virtufit/vectors/side.svg"
        alt=""
        class="project_intro_vector"
      />
      <!-- <img
        src="./../../assets/work/virtufit/vectors/orange circle.svg"
        alt=""
        class="project_intro-orange-circle"
      /> -->
      <img
        src="./../../assets/work/virtufit/vectors/orange-cir-box.svg"
        alt=""
        class="project_intro-orange-cir-box"
      />
      <!-- <img
        src="./../../assets/work/virtufit/vectors/red-box.svg"
        alt=""
        class="project_intro-red-box"
      /> -->
    </div>
  </div>
  <div style="width: 100%">
    <img
      src="./../../assets/work/virtufit/key-features-lap.png"
      alt=""
      style="width: 100%"
      id="trans-lap"
    />
    <img
      src="./../../assets/work/virtufit/key-features-mob.png"
      alt=""
      style="width: 100%"
      id="trans-mob"
    />
  </div>
  <div class="content">
    <div class="section_1" style="padding-top: 2rem">
      <p class="writing__headline">How can users start building an outfit?</p>
      <div class="video">
        <iframe
          width="720"
          height="720"
          src="https://www.youtube.com/embed/HsJKhcqdSOk?autoplay=1&mute=1&controls=1&loop=1&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=HsJKhcqdSOk"
          title="YouTube video player"
          frameborder="0"
          allowfullscreen
          allow="autoplay"
          style="
            display: inline-block;
            float: left;
            position: sticky;
            top: 30px;
          "
        ></iframe>
        <img
          src="./../../assets/work/virtufit/vectors/bg-voilet-random.svg"
          alt=""
          style="
            position: absolute;
            bottom: -5rem;
            right: -5rem;
            width: 45rem;
            z-index: -1;
            opacity: 20%;
          "
        />
      </div>
      <div class="writing">
        <div class="writing__content">
          <ul style="margin-bottom: 3.5rem">
            <li>
              Users can pick from their
              <strong>previously saved outfits</strong>
            </li>
            <li>
              VirtuFit recommends <strong>trendy outfits</strong> based on the
              user's past preferences
            </li>
            <li>
              Users can <strong>prompt for specific outfit</strong> they are
              looking for
            </li>
          </ul>

          <p>
            <img
              class="quotes"
              src="./../../assets/work/virtufit/vectors/qoutes-line-gradient.svg"
              alt=""
            />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong style="font-weight: 500; color: #535353">
              So that users don't have to build an outfit from scratch every
              time.</strong
            >
          </p>
        </div>
      </div>
    </div>

    <div class="section_2">
      <div class="writing">
        <div class="writing__content">
          <ul style="margin-bottom: 3.5rem">
            <li>
              <strong style="font-weight: 500; color: #535353">Photo:</strong>
              See the outfit in detail.
            </li>
            <li>
              <strong style="font-weight: 500; color: #535353"
                >Mannequin:</strong
              >
              See how the outfit looks on a mannequin.
            </li>
            <li>
              <strong style="font-weight: 500; color: #535353">Wear:</strong>
              See how the outfit looks on them from different angles.
            </li>
          </ul>
          <p>
            <img
              class="quotes"
              src="./../../assets/work/virtufit/vectors/quotes-line-orange.svg"
              alt=""
            />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong style="font-weight: 500; color: #535353"
              >Users will have multiple options to view outfits based on their
              preferences.</strong
            >
          </p>
        </div>
      </div>
      <p class="writing__headline">
        How can users try on outfits in different views?
      </p>
      <div class="video">
        <iframe
          width="720"
          height="720"
          src="https://www.youtube.com/embed/ziHVRzrtLB8?autoplay=1&mute=1&controls=1&loop=1&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=ziHVRzrtLB8"
          title="YouTube video player"
          frameborder="0"
          allowfullscreen
          allow="autoplay"
          style="
            display: inline-block;
            float: left;
            position: sticky;
            top: 30px;
          "
        ></iframe>
        <img
          src="./../../assets/work/virtufit/vectors/bg-orange-random.svg"
          alt=""
          style="
            position: absolute;
            bottom: -5rem;
            left: -5rem;
            width: 45rem;
            z-index: -1;
            opacity: 20%;
          "
        />
      </div>
    </div>

    <!-- ///////// section /////////-->
    <div class="section_3 main">
      <p class="writing__headline">
        How can users try on outfits using the "Wear" view?
      </p>
      <div
        class="video"
        style="display: inline-block; float: left; position: sticky; top: 50px"
      >
        <iframe
          width="720"
          height="720"
          src="https://www.youtube.com/embed/sX7gMMVbB3w?autoplay=1&mute=1&controls=1&loop=1&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=sX7gMMVbB3w"
          title="YouTube video player"
          frameborder="0"
          allowfullscreen
          allow="autoplay"
          style="
            display: inline-block;
            float: left;
            position: sticky;
            top: 30px;
          "
        ></iframe>
        <img
          src="./../../assets/work/virtufit/vectors/bg-voilet-random.svg"
          alt=""
          style="
            position: absolute;
            bottom: -5rem;
            right: -6rem;
            width: 45rem;
            z-index: -1;
            opacity: 20%;
          "
        />
      </div>
      <div class="writing">
        <div class="writing__content">
          <p>
            <img
              class="quotes"
              src="./../../assets/work/virtufit/vectors/qoutes-line-gradient.svg"
              alt=""
            />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>
              Using the phone's camera, users can scan themselves and virtually
              try on outfits.</strong
            >
          </p>
        </div>
        <hr class="divider" />

        <p
          class="writing__headline section-3-sec-head"
          style="margin-top: 3.5rem"
        >
          How can users trust that their scan is accurate and secure?
        </p>
        <div class="writing__content">
          <div>
            <ul style="margin-bottom: 2rem">
              <li style="margin-bottom: 2rem">
                I provided users with
                <strong>privacy details prior to scanning</strong> to ensure
                their scans remain confidential.
              </li>
              <li>
                Made more usable, by
                <strong
                  >providing helpful tips on lighting, positioning, and
                  movement.</strong
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- ///////// section /////////-->
    <div class="section_4">
      <p class="writing__headline">
        How can users visualize outfits quickly without a full body scan?
      </p>
      <div class="writing">
        <div class="writing__content">
          <p>
            <img
              class="quotes"
              src="./../../assets/work/virtufit/vectors/quotes-line-orange.svg"
              alt=""
            />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>
              Users with limited time or privacy concerns can visualize outfits
              quickly by using the Mannequin option by choosing a mannequin that
              reflects them</strong
            >
          </p>
        </div>
      </div>
      <div class="video">
        <iframe
          width="720"
          height="720"
          src="https://www.youtube.com/embed/BXpMuSoIxf0?autoplay=1&mute=1&controls=1&loop=1&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=BXpMuSoIxf0"
          title="YouTube video player"
          frameborder="0"
          allowfullscreen
          allow="autoplay"
          style="
            display: inline-block;
            float: left;
            position: sticky;
            top: 30px;
          "
        ></iframe>
        <img
          src="./../../assets/work/virtufit/vectors/bg-orange-random.svg"
          alt=""
          style="
            position: absolute;
            bottom: -5rem;
            left: -5rem;
            width: 45rem;
            z-index: -1;
            opacity: 20%;
          "
        />
      </div>
    </div>
  </div>

  <!-- ///////// section /////////-->
  <div class="section_5 main">
    <p class="writing__headline">
      How can users have full control over their data?
    </p>

    <div class="video">
      <iframe
        width="720"
        height="720"
        src="https://www.youtube.com/embed/GjfkrP80rj4?autoplay=1&mute=1&controls=1&loop=1&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=GjfkrP80rj4"
        title="YouTube video player"
        frameborder="0"
        allowfullscreen
        allow="autoplay"
        style="display: inline-block; float: left; position: sticky; top: 30px"
      ></iframe>
      <img
        src="./../../assets/work/virtufit/vectors/bg-green-random.svg"
        alt=""
        style="
          position: absolute;
          bottom: -5rem;
          right: -6rem;
          width: 45rem;
          z-index: -1;
          opacity: 20%;
        "
      />
    </div>
    <div class="writing" style="position: relative">
      <div class="writing__content">
        <p>
          <img
            class="quotes"
            src="./../../assets/work/virtufit/vectors/qoutes-line-green.svg"
            alt=""
          />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong
            >Users can easily retake or delete their scanned results and
            mannequin information.</strong
          >
        </p>
      </div>
      <img
        src="./../../assets/work/virtufit/vectors/inside.svg"
        alt=""
        class="inside_vector"
      />
    </div>
  </div>

  <!-- ///////// section /////////-->
  <div class="section_6 main">
    <p class="writing__headline">
      How can users find the right accessories for their outfits?
    </p>
    <div class="writing">
      <div class="writing__content">
        <ul style="margin-bottom: 2rem">
          <li style="margin-bottom: 2rem">
            VirtuFit suggests complementary accessories with the
            <strong>"Better Together"</strong> option.
          </li>
          <li>
            VirtuFit
            <strong>suggests combinations that go well together</strong> when
            users try similar items or make outfit changes.
          </li>
          <li>
            Plus icons on specific body parts show users different accessories
            they can add.
          </li>
        </ul>
      </div>
    </div>
    <div class="video">
      <iframe
        width="720"
        height="720"
        src="https://www.youtube.com/embed/iBEkJWFOORA?autoplay=1&mute=1&controls=1&loop=1&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=iBEkJWFOORA"
        title="YouTube video player"
        frameborder="0"
        allowfullscreen
        allow="autoplay"
        style="display: inline-block; float: left; position: sticky; top: 30px"
      ></iframe>
      <img
        src="./../../assets/work/virtufit/vectors/bg-orange-random.svg"
        alt=""
        style="
          position: absolute;
          bottom: -5rem;
          left: -6rem;
          width: 45rem;
          z-index: -1;
          opacity: 20%;
        "
      />
    </div>
  </div>

  <!-- ///////// section /////////-->
  <div class="section_7 main">
    <p class="writing__headline">How can users customize their outfits?</p>
    <div
      class="video"
      style="display: inline-block; float: left; position: sticky; top: 50px"
    >
      <iframe
        width="720"
        height="720"
        src="https://www.youtube.com/embed/xD-kc-8GkGI?autoplay=1&mute=1&controls=1&loop=1&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=xD-kc-8GkGI"
        title="YouTube video player"
        frameborder="0"
        allowfullscreen
        allow="autoplay"
        style="display: inline-block; float: left; position: sticky; top: 30px"
      ></iframe>
      <img
        src="./../../assets/work/virtufit/vectors/bg-voilet-random.svg"
        alt=""
        style="
          position: absolute;
          bottom: -5rem;
          right: -6rem;
          width: 45rem;
          z-index: -1;
          opacity: 20%;
        "
      />
    </div>
    <div class="writing">
      <div class="writing__content">
        <ul style="margin-bottom: 2rem">
          <li style="margin-bottom: 2rem">
            <strong>Customize step-by-step:</strong> Users can choose the main
            item, then refine their choice by type and style.
          </li>
          <li>
            <strong>Filter choices:</strong> Users can narrow down their choices
            by color, print, and sleeve length.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- ///////// section /////////-->
  <div class="section_8 main">
    <div class="writing__section_8">
      <p class="writing__headline writing__headline-section-8">
        How can users trust virtual fitting rooms?
      </p>
      <div class="writing__content writing__content-section-8">
        <div class="outfit_carousel">
          <iframe
            width="1200"
            height="677"
            src="https://www.youtube.com/embed/cXiwej6njf8?autoplay=1&mute=1&controls=1&loop=1&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=cXiwej6njf8"
            title="YouTube video player"
            frameborder="0"
            allowfullscreen
            allow="autoplay"
            style="
              display: inline-block;
              float: left;
              position: sticky;
              top: 30px;
              margin-top: 0;
            "
          ></iframe>
        </div>

        <ul
          style="margin-bottom: 3rem; margin-top: 3.5rem"
          class="outfit_carousel_list"
        >
          <li>
            <p class="sub_points" style="margin-bottom: 0 !important">
              <strong>
                User can explore outfit from all angles with carousel</strong
              >
            </p>
          </li>
          <li>
            <p class="sub_points" style="margin-bottom: 0 !important">
              <strong style="margin-bottom: 1rem"
                >VirtuFit highlights outfit details and suitability to help
                users feel confident</strong
              >
            </p>
          </li>
          <li style="margin-bottom: 1rem">
            <p class="sub_points" style="margin-bottom: 0 !important">
              <strong style="margin-bottom: 1rem"
                >User can see different angles, details, reviews, and
                suggestions for each item on its own page.</strong
              >
            </p>
          </li>
        </ul>

        <p>
          <img
            class="quotes"
            src="./../../assets/work/virtufit/vectors/qoutes-line-green.svg"
            alt=""
          />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>
            This feature might solve users' problems with virtual fitting rooms,
            such as inaccurate sizing and unrealistic images.</strong
          >
        </p>
      </div>
    </div>
  </div>

  <!-- ///////// section /////////-->
  <div class="section_9 main">
    <p class="writing__headline">
      How can users save and organize their outfit inspirations?
    </p>
    <div class="writing">
      <div class="writing__content">
        <ul style="margin-bottom: 2rem">
          <li style="margin-bottom: 2rem">
            User can save outfits to <strong>wishlist</strong> by default on
            click 'Save' button
          </li>
          <li>
            Also user can Add outfits to
            <strong>specific collections</strong> created in the past or on the
            go
          </li>
        </ul>

        <p>
          <img
            class="quotes"
            src="./../../assets/work/virtufit/vectors/qoutes-line-gradient.svg"
            alt=""
          />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>
            It helps user to save and organize their favorite looks</strong
          >
        </p>
      </div>
    </div>
    <div
      class="video"
      style="display: inline-block; float: left; position: sticky; top: 50px"
    >
      <iframe
        width="720"
        height="720"
        src="https://www.youtube.com/embed/xD3AC06HgJk?autoplay=1&mute=1&controls=1&loop=1&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=xD3AC06HgJk"
        title="YouTube video player"
        frameborder="0"
        allowfullscreen
        allow="autoplay"
        style="display: inline-block; float: left; position: sticky; top: 30px"
      ></iframe>
      <img
        src="./../../assets/work/virtufit/vectors/bg-voilet-random.svg"
        alt=""
        style="
          position: absolute;
          bottom: -5rem;
          left: -6rem;
          width: 45rem;
          z-index: -1;
          opacity: 20%;
        "
      />
    </div>
  </div>

  <!-- ///////// section /////////-->
  <div class="section_10 main">
    <p class="writing__headline">
      How can users track outfit cost as they shop?
    </p>
    <div class="video">
      <iframe
        width="720"
        height="720"
        src="https://www.youtube.com/embed/OwKEc1nD7dc?autoplay=1&mute=1&controls=1&loop=1&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=OwKEc1nD7dc"
        title="YouTube video player"
        frameborder="0"
        allowfullscreen
        allow="autoplay"
        style="display: inline-block; float: left; position: sticky; top: 30px"
      ></iframe>
      <img
        src="./../../assets/work/virtufit/vectors/bg-blue-random.svg"
        alt=""
        style="
          position: absolute;
          bottom: -5rem;
          right: -6rem;
          width: 45rem;
          z-index: -1;
          opacity: 20%;
        "
      />
    </div>

    <div class="writing">
      <div class="writing__content">
        <ul style="margin-bottom: 2rem">
          <li style="margin-bottom: 2rem">
            User can see all items in the outfit, with concise details and
            <strong>pricing of each item</strong>, at the bottom of the screen
          </li>
          <li>
            Also they can track the <strong>total cost of outfit</strong> as
            they add or remove items.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="approach_headline">
    <p style="text-align: center">
      <img
        class="quotes approach-head-qoutes"
        src="./../../assets/work/virtufit/vectors/qoutes-line-gradient.svg"
        alt=""
      />
      &nbsp;&nbsp;&nbsp; Curious how I crafted Virtufit? <br />Join the
      Journey!&nbsp;
      <img
        class="quotes approach-head-qoutes-reverse"
        src="./../../assets/work/virtufit/vectors/qoutes-line-gradient.svg"
        alt=""
      />
    </p>
  </div>

  <div class="approach_content">
    <p>
      Begin with me at the Outfit Builder screen, the place where it all starts,
      and where users get to create their unique looks.
    </p>
  </div>

  <div style="padding: 0">
    <div style="background-color: #f0ffe1" class="approach-green">
      <div class="approach_sub-sections ass-1">
        <img
          class="half-1"
          src="./../../assets/work/virtufit/approach-png/1.1.png"
          alt=""
        />
        <img
          class="half-2"
          src="./../../assets/work/virtufit/approach-png/1.2.png"
          alt=""
        />
        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/1.3.png"
          alt=""
          style="margin-top: 3rem"
        />
        <div
          (click)="
            onpdf(
              'https://drive.google.com/file/d/1LeS9wpHkw4kPlvSH2_MggpnZ_gFVxfgg/view?usp=sharing'
            )
          "
          class="pdf-view"
          style="margin-bottom: 8rem; transform: translate(2rem, -1.5rem)"
        >
          <img src="./../../assets/work/virtufit/pdf.png" alt="" class="pdf" />
          <a class="clickable-link">View Image in High Resolution</a>
          <img
            src="./../../assets/work/virtufit/arrow.svg"
            alt=""
            class="arrow"
          />
        </div>
      </div>
      <div class="approach_sub-sections ass-2">
        <div class="flex-reverse">
          <img
            class="half-1"
            src="./../../assets/work/virtufit/approach-png/2.1.png"
            alt=""
          />
          <img
            class="half-2"
            src="./../../assets/work/virtufit/approach-png/2.2.png"
            alt=""
          />
        </div>

        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/2.3.png"
          alt=""
          style="margin-top: 3rem"
        />
        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/2.4.png"
          alt=""
          style="margin-top: 3rem"
        />
        <div
          (click)="
            onpdf(
              'https://drive.google.com/file/d/1_ipHXpIe8XusO1psnkcEA3f5M6zVPxUO/view?usp=sharing'
            )
          "
          class="pdf-view"
          style="transform: translate(2rem, -1rem); margin-bottom: 8rem"
        >
          <img src="./../../assets/work/virtufit/pdf.png" alt="" class="pdf" />
          <a class="clickable-link">View Image in High Resolution</a>
          <img
            src="./../../assets/work/virtufit/arrow.svg"
            alt=""
            class="arrow"
          />
        </div>
      </div>
      <div class="approach_sub-sections ass-3">
        <div class="flex-reverse">
          <img
            class="half-1"
            src="./../../assets/work/virtufit/approach-png/3.1.png"
            alt=""
          />
          <img
            class="half-2"
            src="./../../assets/work/virtufit/approach-png/3.2.png"
            alt=""
          />
        </div>

        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/3.3.png"
          alt=""
          style="margin-top: 3rem"
        />
        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/3.4.png"
          alt=""
          style="margin-top: 3rem"
        />
        <div
          (click)="
            onpdf(
              'https://drive.google.com/file/d/11Kz1KdrAIIsJK66tKYJRUcBqC-xUm-Q4/view?usp=sharing'
            )
          "
          class="pdf-view"
          style="margin-bottom: 8rem; transform: translate(2rem, -1.5rem)"
        >
          <img src="./../../assets/work/virtufit/pdf.png" alt="" class="pdf" />
          <a class="clickable-link">View Image in High Resolution</a>
          <img
            src="./../../assets/work/virtufit/arrow.svg"
            alt=""
            class="arrow"
          />
        </div>
      </div>
      <div class="approach_sub-sections ass-4">
        <img
          class="half-1"
          src="./../../assets/work/virtufit/approach-png/4.1.png"
          alt=""
        />
        <img
          class="half-2"
          src="./../../assets/work/virtufit/approach-png/4.2.png"
          alt=""
        />
        <img
          class="half-1 sample-digital-1"
          src="./../../assets/work/virtufit/approach-png/4.3.png"
          alt=""
          style="margin-top: 3rem"
        />
        <img
          class="half-2 sample-digital-2"
          src="./../../assets/work/virtufit/approach-png/4.4.png"
          alt=""
          style="margin-top: 3rem"
        />
        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/4.5.png"
          alt=""
          style="margin-top: 3rem"
        />
        <div
          (click)="
            onpdf(
              'https://drive.google.com/file/d/1eE4PKvi1TEo53vmpLtLE68V0GXnuiqi5/view?usp=sharing'
            )
          "
          class="pdf-view"
          style="transform: translate(2rem, 0rem); margin-bottom: 8rem"
        >
          <img src="./../../assets/work/virtufit/pdf.png" alt="" class="pdf" />
          <a class="clickable-link">View Image in High Resolution</a>
          <img
            src="./../../assets/work/virtufit/arrow.svg"
            alt=""
            class="arrow"
          />
        </div>
      </div>
      <div class="approach_sub-sections ass-5">
        <div class="flex-reverse">
          <img
            class="half-1"
            src="./../../assets/work/virtufit/approach-png/5.1.png"
            alt=""
          />
          <img
            class="half-2"
            src="./../../assets/work/virtufit/approach-png/5.2.png"
            alt=""
          />
        </div>

        <img
          class="half-1 sample-digital-1"
          src="./../../assets/work/virtufit/approach-png/5.3.png"
          alt=""
          style="margin-top: 3rem"
        />

        <img
          class="half-2 sample-digital-2"
          src="./../../assets/work/virtufit/approach-png/5.4.png"
          alt=""
          style="margin-top: 3rem"
        />

        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/5.5.png"
          alt=""
          style="margin-top: 3rem"
        />
        <div
          (click)="
            onpdf(
              'https://drive.google.com/file/d/1uh_zXZm6EoweHCvu2HUuumVDucmsqb4a/view?usp=sharing'
            )
          "
          class="pdf-view"
          style="margin-bottom: 3rem; transform: translate(2rem, 1rem)"
        >
          <img src="./../../assets/work/virtufit/pdf.png" alt="" class="pdf" />
          <a class="clickable-link">View Image in High Resolution</a>
          <img
            src="./../../assets/work/virtufit/arrow.svg"
            alt=""
            class="arrow"
          />
        </div>
        <img
          class="half-1 sub_5_6"
          src="./../../assets/work/virtufit/approach-png/5.6.png"
          alt=""
          style="margin-top: 3rem"
        />
        <img
          class="half-2 sub_5_7"
          src="./../../assets/work/virtufit/approach-png/5.7.png"
          alt=""
          style="margin-top: 3rem"
        />
        <img
          class="full sub_5_8"
          src="./../../assets/work/virtufit/approach-png/5.8.png"
          alt=""
          style="margin-top: 3rem"
        />
        <img
          class="full sub_5_9"
          src="./../../assets/work/virtufit/approach-png/5.9.png"
          alt=""
          style="margin-top: 3rem"
        />
        <div
          (click)="
            onpdf(
              'https://drive.google.com/file/d/1nnZ5FttNHHOmAFFyPqYRN_VNlDkJQYNm/view?usp=sharing'
            )
          "
          class="pdf-view pdf-view-2"
          style="margin-bottom: 8rem; transform: translate(3.5rem, -0.5rem)"
        >
          <img src="./../../assets/work/virtufit/pdf.png" alt="" class="pdf" />
          <a class="clickable-link">View Image in High Resolution</a>
          <img
            src="./../../assets/work/virtufit/arrow.svg"
            alt=""
            class="arrow"
          />
        </div>
      </div>
      <div class="approach_sub-sections ass-6">
        <img
          class="half-1"
          src="./../../assets/work/virtufit/approach-png/6.1.png"
          alt=""
        />
        <img
          class="half-2"
          src="./../../assets/work/virtufit/approach-png/6.2.png"
          alt=""
          style="align-self: center"
        />
        <img
          class="half-1 sub_6_3"
          src="./../../assets/work/virtufit/approach-png/6.3.png"
          alt=""
          style="margin-top: 3rem"
        />
        <img
          class="half-2 sub_6_4"
          src="./../../assets/work/virtufit/approach-png/6.4.png"
          alt=""
          style="margin-top: 3rem"
        />
        <div
          (click)="
            onpdf(
              'https://drive.google.com/file/d/19fyHRZyuCpq16mkfdCSi6WsYI6qyXPSs/view?usp=sharing'
            )
          "
          class="pdf-view"
          style="transform: translate(2rem, -1.5rem)"
        >
          <img src="./../../assets/work/virtufit/pdf.png" alt="" class="pdf" />
          <a class="clickable-link">View Image in High Resolution</a>
          <img
            src="./../../assets/work/virtufit/arrow.svg"
            alt=""
            class="arrow"
          />
        </div>
        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/6.5.png"
          alt=""
          style="margin-top: 3rem; margin-bottom: 8rem"
        />
      </div>

      <div class="approach_sub-sections ass-7">
        <img
          class="half-1"
          src="./../../assets/work/virtufit/approach-png/7.1.png"
          alt=""
        />
        <img
          class="half-2"
          src="./../../assets/work/virtufit/approach-png/7.2.svg"
          alt=""
        />
        <img
          class="half-1 sub_7_3"
          src="./../../assets/work/virtufit/approach-png/7.3.png"
          alt=""
          style="margin-top: 3rem"
        />
        <img
          class="half-2 sub_7_4"
          src="./../../assets/work/virtufit/approach-png/7.4.png"
          alt=""
          style="margin-top: 3rem"
        />

        <img
          class="full sub_7_5"
          src="./../../assets/work/virtufit/approach-png/7.5.png"
          alt=""
          style="margin-top: 3rem"
        />
        <div
          (click)="
            onpdf(
              'https://drive.google.com/file/d/1wKk6-MfE5eEo3HCG2KmpBLm_NLSQLiWc/view?usp=sharing'
            )
          "
          class="pdf-view"
          style="transform: translate(2rem, 0rem)"
        >
          <img src="./../../assets/work/virtufit/pdf.png" alt="" class="pdf" />
          <a class="clickable-link">View Image in High Resolution</a>
          <img
            src="./../../assets/work/virtufit/arrow.svg"
            alt=""
            class="arrow"
          />
        </div>
        <img
          class="full sub_7_6"
          src="./../../assets/work/virtufit/approach-png/7.6.png"
          alt=""
          style="margin-top: 3rem"
        />
        <div
          (click)="
            onpdf(
              'https://drive.google.com/file/d/11Mm05z5kUy8QTQhh6eK9ElAKamDh6nQl/view?usp=sharing'
            )
          "
          class="pdf-view pdf-view-2"
          style="margin-bottom: 8rem; transform: translate(2rem, 0rem)"
        >
          <img src="./../../assets/work/virtufit/pdf.png" alt="" class="pdf" />
          <a class="clickable-link">View Image in High Resolution</a>
          <img
            src="./../../assets/work/virtufit/arrow.svg"
            alt=""
            class="arrow"
          />
        </div>
      </div>
      <div class="approach_sub-sections ass-8">
        <div class="flex-reverse">
          <img
            class="half-1"
            src="./../../assets/work/virtufit/approach-png/8.1.svg"
            alt=""
          />
          <img
            class="half-2"
            src="./../../assets/work/virtufit/approach-png/8.2.png"
            alt=""
          />
        </div>

        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/8.3.png"
          alt=""
          style="margin-top: 3rem"
        />
        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/8.4.png"
          alt=""
          style="margin-top: 3rem"
        />
        <div
          (click)="
            onpdf(
              'https://drive.google.com/file/d/1oQTEUhEZig6gpxvZJboMcqaolr4mkuF9/view?usp=sharing'
            )
          "
          class="pdf-view"
          style="margin-bottom: 8rem; transform: translate(2rem, 1.5rem)"
        >
          <img src="./../../assets/work/virtufit/pdf.png" alt="" class="pdf" />
          <a class="clickable-link">View Image in High Resolution</a>
          <img
            src="./../../assets/work/virtufit/arrow.svg"
            alt=""
            class="arrow"
          />
        </div>
      </div>
      <div class="approach_sub-sections ass-9">
        <img
          class="half-1"
          src="./../../assets/work/virtufit/approach-png/9.1.png"
          alt=""
        />
        <img
          class="half-2"
          src="./../../assets/work/virtufit/approach-png/9.2.png"
          alt=""
          style="margin-bottom: 8rem"
        />
      </div>
      <div class="approach_sub-sections ass-10">
        <div class="flex-reverse">
          <img
            class="half-1"
            src="./../../assets/work/virtufit/approach-png/10.1.svg"
            alt=""
          />
          <img
            class="half-2"
            src="./../../assets/work/virtufit/approach-png/10.2.png"
            alt=""
            style="margin-bottom: 8rem"
          />
        </div>
      </div>
      <div class="approach_sub-sections ass-11">
        <img
          class="half-1"
          src="./../../assets/work/virtufit/approach-png/11.1.png"
          alt=""
        />
        <img
          class="half-2 approach-11-img"
          src="./../../assets/work/virtufit/approach-png/11.2.svg"
          alt=""
          style="margin-bottom: 8rem"
        />
      </div>
    </div>

    <div style="background-color: #fff3ec">
      <div class="approach_sub-sections trans--2--main">
        <p class="writing__headline--trans--2 full" style="margin-bottom: 0rem">
          Let's Explore the Challenges and How I Tackled Them in Designing
          Outfit Builder user flows
        </p>
        <p class="writing__headline--trans--2-sub full">
          I'll use the 'Outfit Building Screen' as an example to demonstrate the
          transformation. But first, let's take a closer look at this screen.
        </p>

        <img
          class="half-1"
          src="./../../assets/work/virtufit/approach-png/trans-1.1.png"
          alt=""
          style="width: 95%; padding-left: 3rem"
        />
        <img
          class="half-2"
          src="./../../assets/work/virtufit/approach-png/trans-1.2.png"
          alt=""
          style="width: 100%"
        />
      </div>
      <div class="approach_sub-sections approach_sub-sections-trans-2">
        <!-- <img
          class="full"
          src="./../../assets/work/virtufit/approach/trans-2.1.svg"
          alt=""
          style="margin-bottom: 50px"
        /> -->
        <p class="writing__headline--trans--2 full">
          Let's Explore the Transformation
        </p>
        <div
          style="
            display: inline-block;
            float: left;
            position: sticky;
            top: 30px;
          "
          class="trans-2-1"
        >
          <img
            class="full"
            id="trans-lap"
            src="./../../assets/work/virtufit/approach-png/trans-2.2.svg"
            alt=""
          />
          <img
            class="full"
            id="trans-mob"
            src="./../../assets/work/virtufit/approach-png/trans-2.2-mob.png"
            alt=""
          />
        </div>
        <div>
          <img
            class="full"
            id="trans-lap"
            src="./../../assets/work/virtufit/approach-png/trans-2.3.svg"
            alt=""
          />
          <img
            class="full"
            id="trans-mob"
            src="./../../assets/work/virtufit/approach-png/trans-2.3-mob.png"
            alt=""
          />
          <img
            class="full"
            id="trans-lap"
            src="./../../assets/work/virtufit/approach-png/trans-2.4.svg"
            alt=""
          />
          <img
            class="full"
            id="trans-mob"
            src="./../../assets/work/virtufit/approach-png/trans-2.4-mob.png"
            alt=""
          />
        </div>
      </div>
      <div class="trans__sub_sec_heads trans-3-mob">
        <p>
          <img
            class="quotes"
            src="./../../assets/work/virtufit/vectors/quotes-line-orange.svg"
            alt=""
          />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>
            To improve the user experience, making it more practical,
            user-controlled, and efficient, I decided to make changes to this
            part of the feature.</strong
          >
        </p>
      </div>
      <div
        class="approach_sub-sections trans_3_1-main"
        style="padding-top: 0; align-items: start"
      >
        <div class="trans_3_1-sub">
          <img
            class="full"
            src="./../../assets/work/virtufit/approach-png/trans_3_1-lap.png"
            alt=""
            id="trans-lap"
          />
          <img
            class="full"
            src="./../../assets/work/virtufit/approach-png/trans_3_1-mob.png"
            alt=""
            id="trans-mob"
          />
        </div>
        <div>
          <img
            class="full"
            src="./../../assets/work/virtufit/approach-png/trans_3_2-lap.png"
            alt=""
            id="trans-lap"
          />
          <img
            class="full"
            src="./../../assets/work/virtufit/approach-png/trans_3_2-mob.png"
            alt=""
            id="trans-mob"
          />
        </div>
      </div>
      <!-- <div class="approach_sub-sections" style="padding-top: 2rem">
        <img
          class="full"
          src="./../../assets/work/virtufit/approach/trans-3.2.svg"
          alt=""
        />
      </div> -->
      <div class="trans__sub_sec_heads">
        <p>
          <img
            class="quotes"
            src="./../../assets/work/virtufit/vectors/quotes-line-orange.svg"
            alt=""
          />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>
            This made me rethink the user experience, especially because we were
            already having some concerns about using text prompts in the outfit
            builder. It was time to find a solution that could make both types
            of users happy – those who liked the predefined reasons and those
            who wanted to customize.</strong
          >
        </p>
      </div>
      <div class="approach_sub-sections-three" style="padding-top: 2rem">
        <img
          class="one-three-1"
          src="./../../assets/work/virtufit/approach-png/trans-4-1.png"
          alt=""
        />
        <img
          class="one-three-2"
          src="./../../assets/work/virtufit/approach-png/trans-4-2.gif"
          alt=""
        />
        <img
          class="one-three-3"
          src="./../../assets/work/virtufit/approach-png/trans-4-3.gif"
          alt=""
        />
      </div>
      <!-- <div class="approach_sub-sections" style="padding-top: 2rem">
        <img
          class="full"
          src="./../../assets/work/virtufit/approach/trans-5.1.svg"
          alt=""
        />
      </div> -->
      <div class="trans__sub_sec_heads trans_5_sub_sec_heads">
        <p>
          <img
            class="quotes"
            src="./../../assets/work/virtufit/vectors/quotes-line-orange.svg"
            alt=""
          />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span id="trans-lap">&nbsp;&nbsp;&nbsp;</span>
          <strong>
            Alright, so let's dive into how I designed the interface to
            accommodate these three different ways of providing prompts.</strong
          >
        </p>
      </div>
      <div class="approach_sub-sections" style="padding-top: 2rem">
        <img
          class="full trans_5_2_gif"
          src="./../../assets/work/virtufit/approach-png/trans-5.2.gif"
          alt=""
          style="width: 60rem; justify-self: center"
        />
      </div>
      <div class="approach_sub-sections trans_5_3" style="padding-top: 4rem">
        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/trans-5.3.svg"
          alt=""
        />
      </div>
      <div
        class="approach_sub-sections trans_6_main"
        style="
          padding-top: 3rem;
          display: grid;
          grid-template-columns: 32rem 1fr;
          align-items: start;
        "
      >
        <!-- <img
          class="full"
          src="./../../assets/work/virtufit/approach/trans-6.svg"
          alt=""
        /> -->
        <div
          style="
            display: inline-block;
            float: left;
            position: sticky;
            top: 30px;
          "
          class="trans_6-1-main"
        >
          <img
            class="full"
            src="./../../assets/work/virtufit/approach-png/trans-6.1.svg"
            alt=""
            id="trans-lap"
          />
          <img
            class="full"
            src="./../../assets/work/virtufit/approach-png/trans-6.1-mob.png"
            alt=""
            id="trans-mob"
          />
        </div>
        <div>
          <img
            class="full"
            src="./../../assets/work/virtufit/approach-png/trans-6.2.svg"
            alt=""
            id="trans-lap"
          />
          <img
            class="full"
            src="./../../assets/work/virtufit/approach-png/trans-6.2-mob.png"
            alt=""
            id="trans-mob"
          />
        </div>
      </div>
      <div
        class="approach_sub-sections trans_6-3-main"
        style="padding-top: 6rem"
      >
        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/trans-6.3.svg"
          alt=""
          id="trans-lap"
        />
        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/trans-6.3-mob.png"
          alt=""
          id="trans-mob"
        />
      </div>
      <!-- <div class="approach_sub-sections" style="padding-top: 4rem">
        <img
          class="full"
          src="./../../assets/work/virtufit/approach/trans-7.svg"
          alt=""
        />
      </div> -->
      <div class="trans__sub_sec_heads">
        <p>
          <img
            class="quotes"
            src="./../../assets/work/virtufit/vectors/quotes-line-orange.svg"
            alt=""
          />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span id="trans-lap">&nbsp;&nbsp;&nbsp;</span>
          <strong>
            After shifting the 'prompt input' to the Style Choice Selection
            Screen, However, this transition wasn't without its challenges due
            to the limitations I mentioned earlier. In my quest for a more
            user-friendly, practical, and efficient customisation solution, I
            explored various ideas and ultimately settled on one
            solution</strong
          >
        </p>
      </div>
      <div class="approach_sub-sections trans_7-1-main" style="padding-top: 0">
        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/trans-7.1-lap.png"
          alt=""
          id="trans-lap"
        />
        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/trans-7.1-mob.png"
          alt=""
          id="trans-mob"
        />
      </div>
      <div class="trans__sub_sec_heads">
        <p>
          <img
            class="quotes"
            src="./../../assets/work/virtufit/vectors/quotes-line-orange.svg"
            alt=""
          />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span id="trans-lap">&nbsp;&nbsp;&nbsp;</span>
          <strong>
            In the final version, the linear steps for practical customization
            remained, but a powerful addition was filters.
          </strong>
        </p>
        <p>
          Users could now have
          <strong
            >more control in finding specific items and adjusting their
            outfit.</strong
          >
          Filters provided a convenient way to fine-tune their choices, making
          the outfit-building experience even
          <strong>more user-friendly.</strong>
        </p>
      </div>
      <div
        class="approach_sub-sections trans-8-main"
        style="padding-top: 0; padding-bottom: 8rem"
      >
        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/trans-8.1-lap.png"
          alt=""
          id="trans-lap"
        />
        <img
          class="full"
          src="./../../assets/work/virtufit/approach-png/trans-8.1-mob.png"
          alt=""
          id="trans-mob"
        />
      </div>
    </div>
  </div>

  <div class="approach_headline components-approach">
    <p style="text-align: center; transform: translateX(-2rem)">
      <img
        class="quotes qoute-start"
        src="./../../assets/work/virtufit/vectors/qoutes-line-gradient.svg"
        alt=""
        style="transform: translateY(0.2rem); width: 4rem"
      />
      &nbsp;&nbsp;&nbsp; How My Approach Influenced Consistent Design Assets?
      &nbsp;<img
        class="quotes qoute-end"
        src="./../../assets/work/virtufit/vectors/qoutes-line-gradient.svg"
        alt=""
        style="transform: translateY(0.2rem) scale(-1); width: 4rem"
      />
    </p>
  </div>

  <div class="approach_content components-approach_content">
    <p>
      When adding VirtuFit to the Myntra app, I aimed for a seamless fit with
      their existing design. So, I recreated some of Myntra's components to
      maintain a consistent look and feel. Yet, because My feature needed some
      fresh elements, I designed new components inspired by Myntra's style.
      What's more, I crafted additional components after learning from user
      interactions and trying different ideas. Now, let's dive into this design
      journey together.
    </p>
  </div>

  <div>
    <div class="style-sheet">
      <!-- <img
        class="full"
        src="./../../assets/work/virtufit/style-sheet/colour-styles.svg"
        alt=""
      /> -->
      <picture>
        <source
          srcset="./../../assets/work/virtufit/style-sheet/colour-styles.webp"
          type="image/webp"
          style="width: 100%; height: auto"
          class="full"
        />
        <source
          srcset="./../../assets/work/virtufit/style-sheet/colour-styles.svg"
          type="image/jpeg"
          style="width: 100%; height: auto"
          class="full"
        />
        <img
          src="./../../assets/work/virtufit/style-sheet/colour-styles.svg"
          style="width: 100%; height: auto"
          class="full"
        />
      </picture>
    </div>
    <div class="style-sheet">
      <!-- <img
        class="full"
        src="./../../assets/work/virtufit/style-sheet/text-styles.svg"
        alt=""
      /> -->
      <picture>
        <source
          srcset="./../../assets/work/virtufit/style-sheet/text-styles.webp"
          type="image/webp"
          style="width: 100%; height: auto"
          class="full"
        />
        <source
          srcset="./../../assets/work/virtufit/style-sheet/text-styles.svg"
          type="image/jpeg"
          style="width: 100%; height: auto"
          class="full"
        />
        <img
          src="./../../assets/work/virtufit/style-sheet/text-styles.svg"
          style="width: 100%; height: auto"
          class="full"
        />
      </picture>
    </div>
    <div class="style-sheet">
      <!-- <img
        class="full"
        src="./../../assets/work/virtufit/style-sheet/component-1.svg"
        alt=""
      /> -->
      <picture>
        <source
          srcset="./../../assets/work/virtufit/style-sheet/component-1.webp"
          type="image/webp"
          style="width: 100%; height: auto"
          class="full"
        />
        <source
          srcset="./../../assets/work/virtufit/style-sheet/component-1.svg"
          type="image/jpeg"
          style="width: 100%; height: auto"
          class="full"
        />
        <img
          src="./../../assets/work/virtufit/style-sheet/component-1.svg"
          style="width: 100%; height: auto"
          class="full"
        />
      </picture>
    </div>
    <div class="style-sheet">
      <!-- <img
        class="full"
        src="./../../assets/work/virtufit/style-sheet/component-2.svg"
        alt=""
      /> -->
      <picture>
        <source
          srcset="./../../assets/work/virtufit/style-sheet/component-2.webp"
          type="image/webp"
          style="width: 100%; height: auto"
          class="full"
        />
        <source
          srcset="./../../assets/work/virtufit/style-sheet/component-2.svg"
          type="image/jpeg"
          style="width: 100%; height: auto"
          class="full"
        />
        <img
          src="./../../assets/work/virtufit/style-sheet/component-2.svg"
          style="width: 100%; height: auto"
          class="full"
        />
      </picture>
    </div>
    <div class="style-sheet">
      <!-- <img
        class="full"
        src="./../../assets/work/virtufit/style-sheet/component-3.svg"
        alt=""
      /> -->
      <picture>
        <source
          srcset="./../../assets/work/virtufit/style-sheet/component-3.webp"
          type="image/webp"
          style="width: 100%; height: auto"
          class="full"
        />
        <source
          srcset="./../../assets/work/virtufit/style-sheet/component-3.svg"
          type="image/jpeg"
          style="width: 100%; height: auto"
          class="full"
        />
        <img
          src="./../../assets/work/virtufit/style-sheet/component-3.svg"
          style="width: 100%; height: auto"
          class="full"
        />
      </picture>
    </div>
    <div class="style-sheet">
      <!-- <img
        class="full"
        src="./../../assets/work/virtufit/style-sheet/component-4.svg"
        alt=""
      /> -->
      <picture>
        <source
          srcset="./../../assets/work/virtufit/style-sheet/component-4.webp"
          type="image/webp"
          style="width: 100%; height: auto"
          class="full"
        />
        <source
          srcset="./../../assets/work/virtufit/style-sheet/component-4.svg"
          type="image/jpeg"
          style="width: 100%; height: auto"
          class="full"
        />
        <img
          src="./../../assets/work/virtufit/style-sheet/component-4.svg"
          style="width: 100%; height: auto"
          class="full"
        />
      </picture>
    </div>
  </div>
  <div
    style="width: 100%"
    style="
      background-color: #fff3ec;
      display: flex;
      justify-content: center;
      padding-top: 8rem;
      padding-bottom: 0;
    "
    class="future-scope"
  >
    <img
      style="width: 100%; justify-self: center"
      src="./../../assets/work/virtufit/future-scope-lap.svg"
      alt=""
      id="trans-lap"
    />
    <img
      style="width: 100%; justify-self: center"
      src="./../../assets/work/virtufit/future-scope-mob.svg"
      alt=""
      id="trans-mob"
    />
  </div>
  <div
    style="
      background-color: #fff3ec;
      display: flex;
      justify-content: center;
      padding-bottom: 6rem;
      width: 100%;
      padding-top: 4rem;
    "
    class="learnings"
  >
    <img
      style="width: 100%; justify-self: center"
      src="./../../assets/work/virtufit/learnings-lap.png"
      alt=""
      id="trans-lap"
    />
    <img
      style="width: 100%; justify-self: center"
      src="./../../assets/work/virtufit/learnings-mob.png"
      alt=""
      id="trans-mob"
    />
  </div>
  <div
    style="
      background-color: #fff3ec;
      display: flex;
      justify-content: center;
      width: 100%;
    "
  >
    <img
      style="width: 100%; justify-self: center"
      src="./../../assets/work/virtufit/approach-png/thanks_card-mob.png"
      alt=""
      id="trans-lap"
    />
    <img
      style="width: 100%; justify-self: center"
      src="./../../assets/work/virtufit/thanks-card-mob.png"
      alt=""
      id="trans-mob"
    />
  </div>

  <!-- <button
    class="primary_btn dashboard_btn dashboard_btn-2"
    id="background_white"
    style="margin-top: 1.5rem; display: flex; justify-content: space-between"
    [routerLink]="['/work']"
  >
    Back
    <img
      src="./../../assets/work/virtufit/back_icon.svg"
      alt=""
      style="width: 20px; height: auto"
    />
  </button> -->
</div>
