<div class="container">
    <div class="text"><h1>Photography</h1><p>Imagination is brought to reality when my words are unclear..!</p></div>
    <div class="portrait-1"><img src="./../../assets/photograhy/1.jpg" alt=""></div>
    <div class="Aryan-1"><img src="./../../assets/photograhy/2.jpg" alt=""></div>
    <div class="Bhaira"><img src="./../../assets/photograhy/3.jpg" alt=""></div>
    <div class="Aadya"><img src="./../../assets/photograhy/4.jpg" alt=""></div>
    <div class="Nikitha-1"><img src="./../../assets/photograhy/5.jpg" alt=""></div>
    <div class="Nikitha-2"><img src="./../../assets/photograhy/6.jpg" alt=""></div>
    <div class="Bhaira-2"><img src="./../../assets/photograhy/7.jpg" alt=""></div>
    <div class="Pooja"><img src="./../../assets/photograhy/8.jpg" alt=""></div>
    <div class="planting"><img src="./../../assets/photograhy/9.jpg" alt=""></div>
    <div class="Aryan-2"><img src="./../../assets/photograhy/10.jpg" alt=""></div>
    <div class="Gopi"><img src="./../../assets/photograhy/11.jpg" alt=""></div>
    <div class="Puneeth-1"><img src="./../../assets/photograhy/12.jpg" alt=""></div>
    <div class="Puneeth-2"><img src="./../../assets/photograhy/13.jpg" alt=""></div>
    <div class="some-2"><img src="./../../assets/photograhy/14.jpg" alt=""></div>
    <div class="some-1"><img src="./../../assets/photograhy/15.jpg" alt=""></div>
    <div class="Pooja-2"><img src="./../../assets/photograhy/16.jpg" alt=""></div>
    <div class="Aryan-3"><img src="./../../assets/photograhy/17.jpg" alt=""></div>
  </div>