@import "./../../styles.scss";

h1 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
}

.container {
  margin-top: 2rem !important;
  width: 100% !important;
  padding: 2rem 3rem;
  padding-top: 0;
  margin-bottom: 8rem !important;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 33.4vh 33.4vh 22vh 66.8vh 44.5vh 33.4vh 33.4vh 12vh 60vh 44.5vh 44.5vh 44.5vh 44.5vh 78vh 89.1vh;
  gap: 2rem;
  grid-auto-flow: row;
  grid-template-areas:
    "text portrait-1 Aryan-1"
    "Bhaira Bhaira Aryan-1"
    "Bhaira Bhaira Aryan-1"
    "Aadya Aadya Aadya"
    "Aadya Aadya Aadya"
    "Nikitha-1 Nikitha-1 Nikitha-2"
    "Nikitha-1 Nikitha-1 Nikitha-2"
    "planting planting Nikitha-2"
    "planting planting Pooja"
    "Bhaira-2 Bhaira-2 Pooja"
    "Bhaira-2 Bhaira-2 Aryan-2"
    "some-2 some-1 Aryan-2"
    "Gopi Gopi Puneeth-1"
    "Puneeth-2 Puneeth-2 Puneeth-1"
    "Pooja-2 Pooja-2 Aryan-3";
}

div {
  img {
    border-radius: 5px;
  }
}

.text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  margin: auto 0;

  p {
    font-size: 1.5rem;
  }
}

.portrait-1 {
  grid-area: portrait-1;
  overflow: hidden !important;

  img {
    transform: scale(1.2);
    object-position: 80% 10%;
    object-fit: cover;
  }
}

.some-2 {
  grid-area: some-2;
  overflow: hidden !important;

  img {
    object-position: 60% 0%;
    object-fit: cover;
  }
}

.Aryan-1 {
  grid-area: Aryan-1;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.Aryan-1 {
  grid-area: Aryan-1;
}

.Puneeth-1 {
  grid-area: Puneeth-1;

  object-fit: cover;

  img {
    object-position: 40% 100%;
  }
}

.Aryan-2 {
  grid-area: Aryan-2;

  object-fit: cover;
  overflow: hidden !important;

  img {
    object-position: 100% 90%;
    //   rotate: 270deg;
    transform: scale(1.2);
  }
}

.Bhaira {
  grid-area: Bhaira;
  object-fit: cover;

  img {
    height: 100%;
  }
}

.Aadya {
  grid-area: Aadya;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.Gopi {
  grid-area: Gopi;
  overflow: hidden !important;
  object-fit: contain;

  img {
    height: 100% !important;
    transform: scale(1.8);
    object-position: 100% 10%;
  }
}

.Nikitha-1 {
  grid-area: Nikitha-1;

  img {
    object-position: 100% 10%;
    object-fit: cover;
  }
}

.Nikitha-2 {
  grid-area: Nikitha-2;

  img {
    object-position: 100% 10%;
    object-fit: cover;
  }
}

.Bhaira-2 {
  grid-area: Bhaira-2;
}

.Pooja {
  grid-area: Pooja;
  overflow: hidden !important;
  object-fit: contain;

  img {
    transform: scale(1.2);
    object-position: 60% 100%;
  }
}

.Pooja-2 {
  grid-area: Pooja-2;
}

.Aryan-3 {
  grid-area: Aryan-3;

  img {
    object-position: 100% 80%;
  }
}

.planting {
  grid-area: planting;
  object-fit: cover;

  img {
    object-position: 100% 90%;
  }
}

.Puneeth-2 {
  grid-area: Puneeth-2;

  img {
    object-position: 10% 100%;
    object-fit: cover;
  }
}

html,
body,
.container {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */

.container * {
  position: relative;
}

.container *:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
}

img {
  width: 100%;
  object-fit: cover;
}

div {
  img {
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    display: flex !important;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .text {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .text {
    h1 {
      font-size: 1.6rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}