<div class="about_cont" id="about_cont">
  <div class="about_cont-introduce">
    <span
      >Just a simple guy <br />
      who wants to create awesome stuff!</span
    >
    <a
      style="margin-top: 1.5rem"
      class="primary_btn"
      href="mailto: bgorental@gmail.com"
    >
      Say Hello!
    </a>
  </div>
  <div class="about_cont-img">
    <img src="./../../assets/about/bgorental.png" alt="" />
  </div>
  <div class="about_cont-content">
    <p>
      I am Bharath, A Front-End Developer and UI/ UX Designer. that pretty much
      sums it up. whether it's solving a complex design problem, or just fixing
      the small issue in the house, I aim for simple, intuitive solutions that
      will improve the lives around me.
    </p>
    <p class="working_currently">
      Currently working as a UI/UX & Front-end Developer
      <span><a href="">@Okkular</a></span>
    </p>
  </div>
</div>
