@import "./../../styles.scss";

.about-head {
  font-size: 32px;
  font-weight: $font-light;
  color: $text-grey;
  margin-bottom: 32px;

  span {
    font-weight: $font-semibold;
    color: $text-imp;
  }
}

.about_cont {
  width: 75%;
  margin: auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;

  &-introduce {
    font-size: 32px;
    font-weight: $font-medium;
    width: 45%;
    color: $text-grey;
    margin-right: 10rem;

    .text_imp {
      color: $text-imp;
    }
  }

  .primary_btn {
    margin-top: 40px;
    width: max-content;
    font-size: 16px !important;
    padding: 14px 32px !important;
    border-radius: 100px !important;
    font-weight: $font-medium;
    text-transform: capitalize;
    text-decoration: none !important;
    border-color: #A76553 !important;

    .hello_img {
      background: url("./../../assets/about/hello-icon-enable.png") no-repeat top center;
      width: 24px;
      height: 24px;
      transition: .1s;
    }

    &:hover,
    &-hover {
      .hello_img {
        background: url("./../../assets/about/hello-icon-hover.png") no-repeat top center;
        width: 30px;
        height: 30px;
      }

      background: linear-gradient(to right, rgba(#663023, 55%), rgba(#F36F4E, 55%));
    }

    .arrow_img {
      background: url("./../../assets/work/arrow-icon-enable.png") no-repeat top center;
      width: 24px;
      height: 24px;
    }

    &:hover {
      .arrow_img {
        background: url("./../../assets/work/arrow-icon-hover.png") no-repeat top center;
        width: 24px;
        height: 24px;
      }
    }
  }

  &-img {
    // display: flex;
    // justify-content: end;
    background: url('./../../assets/about/bgoretal-pic.png');
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-2.5rem);
  }

  &-content {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-top: 50px;

    .working_currently {
      font-size: 24px;
      font-weight: $font-light;
      color: $text-grey;
      margin-bottom: 30px;

      span {
        margin-left: 0.2rem;

        a {
          text-decoration: underline !important;
          font-weight: $font-semibold;
          font-family: "Karla", sans-serif;
        }
      }
    }
  }
}

.about__me {
  width: 100%;
  margin: 200px auto;
  display: flex;
  column-gap: 48px;

  &--img {
    display: flex;
    align-items: center;
    column-gap: 32px;

    &--2 {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
    }

    img {
      width: 280px;
    }
  }
}

.about__me--content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--text {
    font-size: 29px;
    font-weight: $font-light;
    color: $text-grey;

    &--imp {
      color: $text-imp;
      font-weight: $font-medium;
    }
  }
}

.bharath-pic {
  width: 25%;
}

.line_breaker {
  display: inline;
}

.about_cont-introduce_img {
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.working_currently-cont {
  padding: 40px;
  padding-right: 60px;
  font-size: 24px;
  color: $text-imp;
  border: 2px solid rgba(#A5A5A5, 20%);
  background: linear-gradient(to bottom right, rgba(#000000, 0%) 30%, rgba(#000000, 100%)), rgba(#606060, 10%);
  margin-bottom: 40px;
  border-radius: 10px;

  p {
    margin-bottom: 20px;
    font-weight: $font-semibold;
  }

  ul {
    line-height: 2.5rem;
  }

  li {
    font-weight: $font-light !important;
    letter-spacing: 1px;
    color: $text-grey;
  }
}

.icon {
  font-size: 25px;
  margin-right: 5px;
  color: #fff;
}

.bullets {
  font-size: 18px;
}

.project-list {
  list-style: none;
  padding: 0;
}

.project-list li {
  margin-bottom: 20px;
}

.project-title {
  // font-weight: bold;
  margin-bottom: 5px;
  color: #e6e6e6;
}

.project-description {
  margin-bottom: 10px;
  color: $text-grey;
  font-weight: $font-light !important;
  letter-spacing: 1px;
}

.project-list .project-description {
  transform: translateX(2rem);
  font-size: 20px !important;
}

.highlights {
  width: 100%;
  margin: 80px auto;
  margin-bottom: 12rem;

  &--imgs {
    display: flex;
    column-gap: 4%;
    align-items: center;
    width: 75%;
    margin: auto;

    &--large {
      width: 38% !important;
      height: auto;
    }

    img {
      width: 29%;
      height: auto;
    }
  }
}

// @media only screen and (max-width: 1200px) {
//   #about_cont {
//     width: 85% !important;
//   }

//   .about_cont-introduce>span {
//     font-size: 1.5rem;
//   }

//   .about_cont-img {
//     img {
//       width: 30rem;
//       transform: translate(3rem, -3rem);
//     }
//   }
// }

// @media only screen and (max-width: 770px) {
//   #about_cont {
//     // display: flex !important;
//     // flex-direction: column;
//     width: 90% !important;

//     div {
//       margin-bottom: 2rem;
//     }
//   }

//   .about_cont-img {
//     height: max-content !important;
//     width: max-content !important;

//     img {
//       width: 25rem;
//       transform: translate(3rem, 0rem);
//     }
//   }

//   .about_cont-introduce>span {
//     font-size: 1.2rem;
//   }

//   .about_cont-introduce {
//     height: max-content !important;
//     width: 26vw;
//   }

//   .about_cont-content {
//     margin-top: -6rem !important;
//   }
// }

// @media only screen and (max-width: 500px) {
//   #about_cont {
//     display: flex !important;
//     flex-direction: column;
//     width: 90% !important;
//     height: max-content;
//     align-items: center;

//     div {
//       margin-bottom: 4rem;
//     }
//   }

//   .about_cont-img {
//     height: max-content !important;
//     width: max-content !important;

//     img {
//       width: 20rem;
//       transform: translate(0rem, 0rem);
//     }
//   }

//   .about_cont-introduce>span {
//     font-size: 1.2rem;
//   }

//   .about_cont-introduce {
//     width: 100%;

//     span {
//       width: 100% !important;
//     }
//   }

//   .about_cont-content {
//     margin-top: 0 !important;
//     height: max-content !important;

//     p {
//       font-size: 1rem;
//     }
//   }
// }

// @media only screen and (max-width: 340px) {
//   #about_cont {
//     width: 95% !important;
//   }

//   .about_cont-img {
//     img {
//       width: 16rem;
//     }
//   }

//   .about_cont-introduce>span {
//     font-size: 1rem;
//   }
// }

/* Largest devices such as desktops (1280px and up) */
@media only screen and (max-width: 80em) {

  .about-head {
    font-size: 32px;
    margin-bottom: 28px;
  }

  .line_breaker {
    display: none;
  }

  .about_cont {
    width: 75%;
    margin-top: 50px;

    &-introduce {
      font-size: 32px;
      width: 50%;
    }

    .primary_btn {
      margin-top: 35px;
    }

    &-content {
      font-size: 1.4rem;
      line-height: 1.5;
      margin-top: 50px;

      .working_currently {
        font-size: 24px;
        font-weight: $font-light;
        color: $text-grey;
        margin-bottom: 30px;

        span {
          margin-left: 0.2rem;

          a {
            text-decoration: underline !important;
            font-weight: $font-semibold;
            font-family: "Karla", sans-serif;
          }
        }
      }
    }
  }

  .working_currently-cont {
    padding: 36px;
    // padding-right: 60px;
    font-size: 20px;
    margin-bottom: 36px;
    border-radius: 9px;

    p {
      margin-bottom: 20px;
    }

    ul {
      // transform: translateX(2rem);
      line-height: 2.5rem;
    }

    li {
      font-weight: $font-light !important;
      letter-spacing: 1px;
      color: $text-grey;
    }
  }

  .project-list .project-description {
    font-size: 20px;
  }

  .about__me {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    &--img {
      column-gap: 30px;
      justify-content: center;

      &--2 {
        row-gap: 30px;
      }

      img {
        width: 240px;
      }
    }
  }

  .about__me--content {
    &--text {
      font-size: 24px;
    }
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (max-width: 64em) {

  .about-head {
    font-size: 30px;
    margin-bottom: 24px;
  }

  .about_cont {
    width: 80%;
    margin-top: 42px;

    &-introduce {
      font-size: 32px;
      width: 55%;
    }

    .primary_btn {
      margin-top: 35px;
      font-size: 15px !important;
      padding: 13px 30px !important;
    }
  }

  .working_currently-cont {
    padding: 36px;
    // padding-right: 60px;
    font-size: 19px;
    margin-bottom: 35px;
    border-radius: 9px;
  }

  .project-list .project-description {
    font-size: 19px;
  }

  .about__me {
    margin-top: 160px;

    &--img {
      column-gap: 28px;
      justify-content: center;

      &--2 {
        row-gap: 28px;
      }

      img {
        width: 280px;
      }
    }
  }

  .about__me--content {
    &--text {
      font-size: 24px;
    }
  }

  .highlights {
    width: 100%;
    margin: 50px 0;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 48em) {

  .about-head {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .about_cont {
    width: 85%;
    margin-top: 34px;

    &-introduce {
      font-size: 26px;
      width: 55%;
    }

    .primary_btn {
      margin-top: 32px;
      font-size: 15px !important;
      padding: 13px 30px !important;
    }

    .working_currently {
      font-size: 20px;
    }
  }

  .working_currently-cont {
    padding: 32px;
    // padding-right: 60px;
    font-size: 18px;
    margin-bottom: 32px;
    border-radius: 8px;
  }

  .project-list .project-description {
    transform: translateX(0) !important;
    font-size: 18px;
  }

  .about__me {
    margin-top: 150px;

    &--img {
      &--2 {
        row-gap: 28px;
      }

      img {
        width: 100%;
      }
    }
  }

  .about__me--content {
    &--text {
      font-size: 22px;
    }
  }

  .highlights {
    width: 100%;
    margin: 40px 0;

    &--imgs {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      align-items: center;
      width: 75%;
      margin: auto;

      &--large {
        width: 100% !important;
        height: auto;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 40em) {

  .about-head {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .about_cont-introduce_img {
    flex-direction: column-reverse;
    row-gap: 2.5rem;
  }

  .about_cont {
    width: 90%;
    margin-top: 0px;

    &-img {
      height: 160px;
      transform: translateX(10px);
      align-self: center;
    }

    &-introduce {
      font-size: 24px;
      width: 100%;
      margin: 0;
    }

    .primary_btn {
      margin-top: 30px;
      font-size: 14px !important;
      padding: 12px 24px !important;

      .hello_img {
        background: url("./../../assets/about/hello-icon-enable.png") no-repeat top center;
        width: 22px;
        height: 22px;
        transform: translateY(-1.5px);
      }

      &:hover {
        .hello_img {
          background: url("./../../assets/about/hello-icon-hover.png") no-repeat top center;
          width: 24px;
          height: 24px;
        }
      }

      .arrow_img {
        background: url("./../../assets/work/arrow-icon-enable.png") no-repeat top center;
        width: 20px;
        height: 20px;
        transform: translateY(-2px);
      }

      &:hover {
        .arrow_img {
          background: url("./../../assets/work/arrow-icon-hover.png") no-repeat top center;
          width: 20px;
          height: 20px;
        }
      }
    }

    .working_currently {
      font-size: 18px;
    }
  }

  .working_currently-cont {
    padding: 30px;
    // padding-right: 60px;
    font-size: 16px;
    margin-bottom: 30px;
    border-radius: 8px;

    li {
      line-height: 30px;
    }
  }

  .project-list .project-description {
    transform: translateX(0) !important;
    font-size: 16px !important;
  }

  .bharath-pic {
    width: 50%;
  }

  .about__me {
    margin-top: 50px;

    &--img {
      &--2 {
        row-gap: 28px;
      }

      img {
        width: 100%;
      }
    }
  }

  .about__me--content {
    &--text {
      font-size: 22px;
    }

    .arrow_img {
      width: 18px;
      height: 20px;
      transform: translateY(-2.6px) !important;
    }
  }

  .highlights {
    width: 100%;
    margin: 30px 0;
    margin-bottom: 80px;

    &--imgs {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      align-items: center;
      width: 75%;
      margin: auto;

      &--large {
        width: 100% !important;
        height: auto;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}