<div class="about_cont" id="about_cont">
  <div class="about_cont-introduce_img">
    <div class="about_cont-introduce">
      <span
        >Just a <span class="text_imp">simple guy</span>
        <br class="line_breaker" />
        who wants to create <span class="text_imp">awesome stuff!</span></span
      >
      <a class="primary_btn" href="mailto:bgorental@gmail.com">
        Say Hello!
        <div class="hello_img"></div
      ></a>
    </div>
    <img
      src="./../../assets/about/bgoretal-pic.png"
      class="bharath-pic"
      alt=""
    />
    <!-- <div class="about_cont-img">
      
    </div> -->
  </div>

  <div class="about_cont-content">
    <p class="working_currently">
      Currently working at
      <span class="tertiary_btn"
        ><a href="https://www.okkular.io/">@Okkular</a></span
      >
      as a
    </p>

    <div class="working_currently-cont">
      <p>Product Designer</p>
      <!-- <ul>
        <li>
          Creating easy-to-use and visually pleasing interfaces for a better
          user experience.
        </li>
        <li>
          Working with different teams to design user-friendly front-end
          layouts.
        </li>
        <li>
          Making designs better based on feedback and current design trends.
        </li>
      </ul> -->
      <div class="project-description" style="margin-bottom: 2rem">
        I've played a pivotal role in enhancing user experience by streamlining
        product search processes. Through collaborative design efforts, I've
        significantly improved operational efficiency.
      </div>

      <ul class="project-list">
        <li>
          <div class="project-title">
            <span class="icon">📌</span>Led the design of Okkular+
          </div>
          <div class="project-description">
            <span class="bullets">➤ </span>Combining multiple Okkular products
            like tag-gen, text-tag-gen, visual-search, style-gen, and shop the
            look to streamline product search.
          </div>
          <div class="project-description">
            <span class="bullets">➤ </span>Aimed to boost average order value
            (AOV), improve conversion rate, and enhance search efficiency.
          </div>
        </li>
        <li>
          <div class="project-title">
            <span class="icon">📌</span>Designed the Okkular Web App
          </div>
          <div class="project-description">
            <span class="bullets">➤ </span>Designed version 2 of the overall
            product, incorporating description-gen and new features.
          </div>
          <div class="project-description">
            <span class="bullets">➤ </span>Iterated on design to enhance user
            experience.
          </div>
        </li>
        <li>
          <div class="project-title">
            <span class="icon">📌</span>Designed the Admin Dashboard
          </div>
          <div class="project-description">
            <span class="bullets">➤ </span>
            Simplified data analysis, retailer usage, account management, and
            integrations.
          </div>
          <div class="project-description">
            <span class="bullets">➤ </span>Aimed to improve decision-making
            speed, data analysis, and operational efficiency.
          </div>
        </li>
      </ul>
    </div>
    <div class="working_currently-cont">
      <p>Front-End Developer</p>
      <ul class="project-list">
        <li>
          <div class="project-description">
            <span class="bullets">➤ </span>Developed intuitive interfaces with
            front-end logic using Angular, HTML, CSS/ SCSS/ SASS, and
            JavaScript.
          </div>
          <div class="project-description">
            <span class="bullets">➤ </span>Ensured code quality through
            comprehensive testing, including the implementation of unit tests.
          </div>
        </li>
      </ul>
      <!-- <ul>
        <li>
          Developed intuitive interfaces with front-end logic using Angular,
          HTML, CSS/ SCSS/ SASS, and JavaScript.
        </li>
        <li>
          Ensured code quality through comprehensive testing, including the
          implementation of unit tests.
        </li>
      </ul> -->
    </div>
  </div>

  <button
    class="primary_btn"
    style="padding: 12px 20px 12px 28px !important; margin-bottom: 150px"
    (click)="onResume()"
  >
    Resume
    <div class="arrow_img"></div>
  </button>
</div>
