<div class="quickery_cont">
  <div class="banner" id="banner">
    <img src="./assets/work/quickery/banner-2.png" alt="" />
  </div>
  <div class="vision">
    <div class="vision_content">
      <div>
        <h1>Project Vision</h1>
        <p>
          Quickery Food Delivery App, helps users to place food orders quickly
          and easily. Quickery App strives to deliver healthy, speciality food
          and side dishes. They offer a wide spectrum of competitive pricing.
          Quickery App targets customers like commuters and workers who lack the
          time or ability to prepare food at home.
        </p>
      </div>
      <div>
        <h1>Challenges</h1>
        <ol>
          <li>
            <p>
              Create an app for Busy workers and commuters who lack the time
              necessary to prepare a meal.
            </p>
          </li>
          <li><p>Search for the healthy food near the user's loaction.</p></li>
          <li>
            <p>
              Sort the food items based on type, brand, offer to suggest the
              user for quick order.
            </p>
          </li>
          <li>
            <p>
              Need to consider assistive technologies which helps people with
              disabilities.
            </p>
          </li>
        </ol>
      </div>
    </div>
    <div class="vision_image">
      <img src="./assets/work/quickery/mockup/welcome-to-quickery.png" alt="" />
    </div>
  </div>
  <div class="kickoff">
    <div class="kickoff_content">
      <h1>Kickoff</h1>
      <p>
        Starting off, I asked myself a few initial questions. Who is our primary
        user? Where and When are my users accessing the product? What are the
        pain points I'm trying to solve? How are users reaching thier goals by
        using the product? Do my user have impairments or disabilities to
        consider - whether temprory, situational, or permanent?
      </p>
    </div>
    <div class="kickoff_carousel">
      <div id="carouselExampleIndicators" class="carousel" data-bs-ride="true">
        <div class="carousel-indicators" id="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
            style="
              height: 10px;
              width: 10px;
              border-radius: 50%;
              margin-right: 0.5rem;
            "
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
            style="height: 10px; width: 10px; border-radius: 50%"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              style="width: 100%; height: 100%"
              src="./assets/work/quickery/Initial_idea.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              style="width: 100%; height: 100%"
              src="./assets/work/quickery/Initial_questions.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
      </div>
    </div>
  </div>
  <div class="users_section">
    <h1>Meet the Users</h1>
    <div class="users">
      <div class="user">
        <div class="user_header">
          <div class="user_header-image">
            <img
              class="user_image"
              src="./../../assets/users/johnDoe.png"
              alt=""
            />
          </div>
          <div class="user_header-content">
            <div><h5>PRIMARY</h5></div>
            <div><strong>Name: </strong><span>John Doe</span></div>
            <div><strong>Age: </strong><span>28 years</span></div>
            <div><strong>Occupation: </strong><span>Senior Employee</span></div>
          </div>
        </div>
        <div class="user_content" id="user_content">
          <p>
            John Doe works in corporate company and he will be busy most of the
            time, he wants to order food for himself and his many co-workers
            which takes long time to wait near hotels so he needs a platform to
            order the food over his phone and pickup once the order is complete
            with better delivery.
          </p>
        </div>
      </div>
      <span class="border_right"></span>
      <div class="user">
        <div class="user_header">
          <div class="user_header-image">
            <img
              class="user_image"
              src="./../../assets/users/millie.png"
              alt=""
            />
          </div>
          <div class="user_header-content">
            <div><h5>SECONDRY</h5></div>
            <div><strong>Name: </strong><span>Millie</span></div>
            <div><strong>Age: </strong><span>30 years</span></div>
            <div><strong>Occupation: </strong><span>UI/UX Designer</span></div>
          </div>
        </div>
        <div class="user_content" id="user_content">
          <p>
            Millie is an UI/UX designer, she generally love to interact with new
            people for her UX research. She meets several people in a day and
            discuss about the research with her colleagues. She is in search of
            an app which allows to order healthy and near to her quickly.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="info_arch">
    <div>
      <h1>Information Architecture</h1>
      <img src="./../../assets/work/quickery/info-architecture.png" alt="" />
    </div>
  </div>

  <div class="paper_wireframes">
    <div>
      <h1>Paper Wireframe</h1>
      <p>
        Before moving onto high fidelity wireframes and mocks, I wanted to get a
        feel for what the core of the app would look like when put in front of
        me.
      </p>
    </div>
    <img
      class="paper_wireframe"
      src="./../../assets/work/quickery/paper_wireframe.png"
      alt=""
    />
  </div>
  <div class="wireflow">
    <div>
      <h1>Wireflow</h1>
      <p>
        After getting feedback on the paper wireframe, incorporating and making
        some necessary changes, I have transitioned to digital wireframe and
        built basic flow taken by a typical user on an app, So they can complete
        a task from start to finish.
      </p>
    </div>
    <img
      class="digital_wireflow"
      src="./../../assets/work/quickery/Digital Wireframe.png"
      alt=""
    />
  </div>
  <div class="wireflow_network">
    <img
      class="digital_wireflow-network"
      src="./../../assets/work/quickery/wireflow-3.png"
      alt=""
    />
  </div>

  <div class="challenges">
    <div class="challenge">
      <div class="challenge_cont">
        <h4>CHALLENGE 1</h4>
        <h1>Get Items Quickly</h1>
        <p>
          Creating easy-to-use data visuals for busy workers and commuters was a
          goal that helped drive this project as far as it did. A lot of the
          time, users don't know what to order, and how much time the order
          takes and at the same time lot of food item suggestions thrown by the
          app confuse the user. I solved this issue by creating a separate
          section to order food which is available near the user's selected
          location and providing the time takes to deliver the order which helps
          the user to know how much time will be taken for the delivery and he
          will get items as soon as possible since the items are near to the
          user.
        </p>
      </div>
      <div class="challenge_img">
        <img src="./../../assets/work/quickery/mockup/home.png" alt="" />
      </div>
    </div>
    <div class="challenge">
      <div class="challenge_cont">
        <h4>CHALLENGE 2</h4>
        <h1>Trending Searches</h1>
        <p>
          Since this is a food delivery app, the user might order the same items
          often or sometimes the user wants to explore new food items but the
          user might not know about the items, in both the cases user has to
          search and need for explore which takes so much time and may frustrate
          the user. I solved this issue by showing recently searched items by
          that user and showing the trending and popular items helps the user to
          find and explore items easily and quickly.
        </p>
      </div>
      <div class="challenge_img">
        <img src="./../../assets/work/quickery/mockup/search.png" alt="" />
      </div>
    </div>
    <div class="challenge">
      <div class="challenge_cont">
        <h4>CHALLENGE 3</h4>
        <h1>Filter the Items</h1>
        <p>
          Since Quickery connects many restaurants where that provide lot
          variety of food items for the user which may help the user to explore
          new items but since a lot of varieties may also confuse the user in
          choosing the items, I solved this issue by creating a separate page
          for the chosen type of food, where they can see similar items only and
          they can even filter the items further like filter by price range,
          time taken for delivery etc. to make the exact choice.
        </p>
      </div>
      <div class="challenge_img">
        <img src="./../../assets/work/quickery/mockup/items.png" alt="" />
      </div>
    </div>
    <div class="challenge">
      <div class="challenge_cont">
        <h4>CHALLENGE 4</h4>
        <h1>Categorises the Items</h1>
        <p>
          In quickery app, I have categorised the food items based on the time
          taken for delivery, based on the type of diet, based on top offers,
          popular brands etc. which will help users to find the food items
          easily and quickly.
        </p>
      </div>
      <div class="challenge_img">
        <img src="./../../assets/work/quickery/mockup/home_scroll.png" alt="" />
      </div>
    </div>
  </div>

  <div class="style_guide">
    <div>
      <h1>Style Guide</h1>
      <p>
        Utilizing a soft chartreuse felt like the perfect fit for In Quickery's
        branding, the chartreuse colour helps evoke enthusiasm, Users will feel
        happiness, nature, and youthful feelings. And paired with the Black
        which makes users feel traditional and more formal. The main typeface of
        choice for the app is Montseratte. I felt this typface would best fit
        the app due to its extreme versatility through uppercase and lowercase
        styling, as well as dark and light text fills.
      </p>
    </div>
    <img
      class="style_guide-image"
      src="./../../assets/work/quickery/style_guide.png"
      alt=""
    />
  </div>
  <div class="takeaways">
    <div>
      <h1>Takeaways</h1>
      <p>
        Being a foodie myself, working on quickery was incredibly rewarding. I
        got to experiment with some of the new Adobe XD features, and narrow
        down my design process. Although I was not able to fully flesh out other
        features and designs I wanted to within Quickery due to time
        constraints, it's not to say I won't try to incorporate them in future
        projects down the line.
      </p>
      <p>Be sure to checkout the process for Quickery's creation below!</p>
      <button class="primary_btn quickery_btn" (click)="onCaseStudy()">
        PROCESS DECK
      </button>
    </div>
  </div>
</div>
<!-- <button> <a href="/quickery/#banner">></a></button> -->
