<div class="work_cont">
  <div class="introduce">
    <h1>hi, i'm bharath.</h1>
    <p>
      Product Designer & Front-end Developer
      <span><a (click)="onOkkular()">@Okkular</a></span>
    </p>
    <!-- <div class="buttons">
      <button class="primary_btn" [routerLink]="['/about']">
        Read more <i class="fa-solid fa-arrow-right"></i>
      </button>
      <button class="primary_btn" (click)="onResume()">
        Resume <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div> -->
  </div>
  <!-- <h1 class="works-title">Works</h1> -->
  <div class="works">
    <div
      class="work"
      *ngFor="let work of works"
      (click)="onWork(work.project_title)"
      [routerLink]=""
    >
      <div class="work_image">
        <img class="work_img" src="{{ work.image }}" alt="" />
      </div>

      <div class="work_content">
        <!-- <div class="cont-bckgrd"></div> -->
        <p class="work_content-title" [innerHTML]="work.project_title"></p>
        <p
          style="
            width: 100%;
            border-bottom: 2px solid #353050;
            padding-bottom: 10px;
            margin-bottom: 10px;
          "
          class="work_content-brief"
        >
          {{ work.brief }}
        </p>
        <p class="work_content-tag_line" style="width: 90%">
          {{ work.tag_line }}
        </p>

        <button
          class="primary_btn primary_btn-sm"
          style="margin: 0 !important; letter-spacing: 0.5px; justify-self: end"
        >
          {{
            work.project_title == "SparkleClean"
              ? "View case study on Medium"
              : work.project_title == "Spotify"
              ? "View Case Study on Medium"
              : "View Case Study"
          }}
        </button>
        <!-- <a href="" class="btn-shine" target="_blank">View Case Study →</a> -->
      </div>
    </div>
  </div>
</div>
