<div class="cont">
  <div class="banner">
    <img src="./../../assets/work/user_dashboard/banner.png" alt="" />
  </div>
  <div class="overview">
    <div class="overview__details">
      <h1 class="section__headers mr-5">Overview</h1>
      <div>
        <div class="overview__details--detail overview-detail-1">
          <h4>Project Date</h4>
          <p>Winter 2022</p>
        </div>
        <div class="overview__details--detail overview-detail-2">
          <h4>Role</h4>
          <p>Visuals, Interactions, Research</p>
        </div>
        <div class="overview__details--detail overview-detail-3">
          <h4>Responsibilities</h4>
          <p>UX Research</p>
          <p>UI/ UX Design</p>
          <p>Prototyping</p>
          <p>Usability Study</p>
        </div>
        <!-- <button class="primary_btn dashboard_btn">PROCESS DECK</button> -->
      </div>
    </div>
    <div class="overview__content">
      <h1 class="overview__content--header">
        Help Retailer to analyse and improve sales
      </h1>
      <p class="overview__content--para">
        People have a challenging time gathering, maintaining, and analyzing
        data about their products and billing since there is a great deal of
        data and a short timeframe. Picazu is a platform that collects data from
        various sources and presents it in a graphical manner. It creates a
        simple visual representation of the collected data in order to make it
        easy for the user to comprehend and analyze his sales and billing
        transactions in a simple and easy way. Using a comparison and analysis
        of sales in different periods, it suggests retailers to sell specific
        products. In addition, it analyzes market trends and recommends catalogs
        to the user so that they can increase their product sales.
      </p>
      <br />
      <p>
        Picazu is great for quickly collecting and analyzing data, but they are
        also useful for learning about the current market trends and user
        performance in selling the products. As a result of designing an
        intuitive and simple interface, we believe anyone can use it.
      </p>
    </div>
  </div>
  <div class="welcome__image">
    <div class="image_background"></div>
    <img src="./../../assets/work/user_dashboard/welcome.png" alt="" />
  </div>
  <div class="kickoff">
    <div class="kickoff__sub__cont">
      <h1 class="section__headers kickoff__header mr-5">Kickoff</h1>
      <div class="kickoff__content">
        <p>
          As a starting point for the project, I met with our team and listed a
          few initial questions that I wanted to consider as a UX designer, such
          as what are some of the common pain points your users might experience
          in their business, and how this project can address those pain points
          and be able to fulfil the needs of those users. Then, we defined the
          requirements, goals, scope, and milestones of this project in order to
          plan its development.
        </p>
        <p>Few initial questions,</p>
        <div class="kickoff__questions">
          <span>Do my user have impairments or disabilities to consider?</span>
          <span>What do our users need the most in a product like this?</span>
          <span>Where and when are my users accessing the product?</span>
          <span>Have I considered all my potential users?</span>
          <span>How familiar are my users with technology?</span>
          <span>Who is our primary audience?</span>
        </div>
      </div>
    </div>
  </div>
  <div class="ideation">
    <div class="ideation__sub__cont">
      <h1 class="section__headers ideation__header mr-5">
        Preliminary Ideation
      </h1>
      <div class="ideation__content">
        <img
          src="./../../assets/work/user_dashboard/affinity_map_wt_bg.jpg"
          alt=""
        />
        <p>Affinity Map</p>
      </div>
    </div>
  </div>
  <div class="empathize">
    <div class="empathize__sub__cont">
      <h1 class="section__headers empathize__header mr-5">Empathize</h1>
      <div class="empathize__content">
        <div class="kickoff_carousel">
          <div
            id="carouselExampleIndicators"
            class="carousel"
            data-bs-ride="true"
          >
            <div class="carousel-indicators" id="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
                style="
                  height: 10px;
                  width: 10px;
                  border-radius: 50%;
                  margin-right: 0.5rem;
                "
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
                style="height: 10px; width: 10px; border-radius: 50%"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  style="width: 100%; height: 100%"
                  src="./../../assets/work/user_dashboard/empathy_map-2.png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  style="width: 100%; height: 100%"
                  src="./../../assets/work/user_dashboard/user_journey_map.png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="users_section">
    <h1 class="section__headers section__headers--large">Meet the Users</h1>
    <div class="users">
      <div class="user user-1">
        <div class="user_header">
          <div class="user_header-image">
            <img
              class="user_image user_image-1"
              src="./../../assets/work/user_dashboard/user_shravan.png"
              alt=""
            />
          </div>
          <div class="user_header-content">
            <div><h5>Pramod Shravan (35)</h5></div>
            <div>Financial Analyst</div>
          </div>
        </div>
        <div class="user_content">
          <p>
            Works during the day for 8 hours and enjoy travelling during their
            off time to relax. They are frustrated with data filtration because
            of the vast collection of data and the complicated process of
            accessing that data. They also feel disappointed that sometimes the
            collected data may need to be in the proper format to access other
            platforms to visualise the data, which requires maintenance and
            quality control.
          </p>
        </div>
      </div>
      <span class="border_right"></span>
      <div class="user">
        <div class="user_header">
          <div class="user_header-image">
            <img
              class="user_image"
              src="./../../assets/work/user_dashboard/user_madhava.png"
              alt=""
            />
          </div>
          <div class="user_header-content">
            <div><h5>Madhava Swamy (61)</h5></div>
            <div>Businessman</div>
          </div>
        </div>
        <div class="user_content">
          <p>
            Retired Bank Manager who has Microgreens business to help people to
            get more nutritious, natural, healthy and organic food. They enjoy
            being with their family during their off time to relax. Sometimes as
            the sale increases, he might get frustrated checking each different
            app for transactions, sales, profit and losses etc., and wish to
            have an app-like dashboard where he can see everything in one place
            and analyse sales.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="competitive_analysis">
    <div class="competitive_analysis__sub__cont">
      <h1 class="section__headers section__headers--large">
        Competitive Analysis
      </h1>
      <div class="competitive_analysis__content">
        <p>
          To construct a concise and solid foundation for Picazu, I had to
          venture out and see what the prominent dashboard applications were
          already doing and what user goals they were not reaching.
        </p>
        <br />
        <p>
          The majority of the features between competitors were very similar,
          however the main differences that we noticed were:
        </p>
        <ul>
          <li>Too many screens vs simplified interaction</li>
          <li>Bright/ distracting interface vs minimalistic interface</li>
          <li>Fixed features v/s customisable features in the dashboard</li>
          <li>
            Predictions and suggestions to the retailers about the product and
            sales.
          </li>
        </ul>
      </div>
      <img
        src="./../../assets/work/user_dashboard/competitive_analysis.png"
        alt=""
      />
    </div>
  </div>
  <div class="generate-ideas">
    <div class="generate-ideas__sub__cont">
      <h1 class="section__headers section__headers--large">Generate Ideas</h1>
      <div class="generate-ideas__content">
        <p>
          In order to get a sufficient quantity of ideas, I collected all the
          user's problems and needs within a set time frame and sketched eight
          different designs, each with a different solution for solving the
          user's problem, which takes only a minute for each design without any
          limitations or considerations for practicality.
        </p>
        <img src="./../../assets/work/user_dashboard/crazy_eights.svg" alt="" />
        <p
          style="align-self: flex-start; transform: translateX(2rem)"
          class="crazy_eights"
        >
          Crazy Eights
        </p>
      </div>
    </div>
  </div>
  <div class="prioritize">
    <div class="prioritize__sub__cont">
      <h1 class="section__headers section__headers--large">
        Prioritization Plotting
      </h1>
      <div class="prioritize__content">
        <p>
          The ideas were sorted remotely and discarded that were unsuitable or
          completely beyond our capability. Plotted ideas on the chart in order
          of feasibility and importance using sticky notes. Using this
          prioritisation plot, we assessed and analysed what was most important
          in a collaborative, disciplined manner to the users and business.
          Furthermore, it helped us focus on our long-term goals.
        </p>
        <img src="./../../assets/work/user_dashboard/prioritize.png" alt="" />
      </div>
    </div>
  </div>
  <div class="ia">
    <div class="ia__sub__cont">
      <h1 class="section__headers section__headers--large">
        Information Architecture
      </h1>
      <div class="ia__content">
        <img src="./../../assets/work/user_dashboard/ia.png" alt="" />
      </div>
    </div>
  </div>
  <div class="sitemaps">
    <div class="sitemaps__sub__cont">
      <h1 class="section__headers section__headers--large">Site Map</h1>
      <div class="sitemaps__content">
        <img src="./../../assets/work/user_dashboard/sitemaps.png" alt="" />
      </div>
    </div>
  </div>
  <div class="paper__wireframe">
    <div class="paper__wireframe__sub__cont">
      <h1 class="section__headers section__headers--large">Paper Wireframe</h1>
      <div class="paper__wireframe__content">
        <p>
          I like to sketch out my ideas quickly on paper to get a basic layout
          that highlights the intended function of the dashboard and leaves
          space for exploration in the digital wireframing and prototyping
          stages.
        </p>
        <img
          src="./../../assets/work/user_dashboard/paper_wireframe.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="digital__wireflow">
    <div class="digital__wireflow__sub__cont">
      <h1 class="section__headers section__headers--large">Wireflow</h1>
      <div class="digital__wireflow__content">
        <p>
          My first step was to sketch and get feedback on the paper wireframe.
          After considering and incorporating the changes I figured out from the
          feedback, I jumped into sketch and started creating a digital
          wireframe to provide a better picture of the dashboard's interactions
          and flow.
        </p>
        <img
          src="./../../assets/work/user_dashboard/digital_wireflow-2.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="prototype">
    <div class="prototype__sub__cont">
      <h1 class="section__headers section__headers--large">Hi-Fi Prototype</h1>
      <div class="prototype__content">
        <p>
          Following the wireframes and the team's understanding of the
          interactions, I began working on the UI design. The following were
          some key aspects I wanted to keep in mind:
        </p>
        <ul>
          <li>
            Using colour combination for better contrast, font and icon sizes to
            make users see every thing clearly
          </li>
          <li>
            Using colours to differentiate the clickable buttons, icons v/s
            non-clickable information icons
          </li>
          <li>
            Using brand colors to communicate with the user that they were on
            the statistics of thier product through our dashboard
          </li>
        </ul>
        <p>
          With the visual look and feel approved, I moved on to the final part
          of this project, creating a high fidelity prototype
        </p>
        <img src="./../../assets/work/user_dashboard/prototype-1.png" alt="" />
      </div>
    </div>
  </div>
  <!-- <div class="competitive_analysis">
    <div class="competitive_analysis__sub__cont">
      <h1 class="section__headers section__headers--large">
        UI/ UX Principles
      </h1>
      <div class="principles__content competitive_analysis__content">
        <p>
          Some of the UI/ UX principles are being used from starting of
          skethcing the basic layouts upto designing the hi-fiprototype.
        </p>
        <br />
        <p>these principles helped me to,</p>
        <ul>
          <li>
            Understand and use visual hierarchy, background shading, gradients,
            how to group similar items and distinguish different ones
          </li>
          <li>
            Direct the user attention to specific point of focus and getting the
            user to take specific actions.
          </li>
          <li>Design pleaseing and intuitive UI to use</li>
        </ul>
        <img src="./../../assets/work/user_dashboard/principles.png" alt="" />
        <img
          src="./../../assets/work/user_dashboard/principles_info.png"
          alt=""
          style="margin-top: 2.5rem"
        />
      </div>
    </div>
  </div> -->
  <div class="competitive_analysis">
    <div class="competitive_analysis__sub__cont">
      <h1 class="section__headers section__headers--large">
        UI/ UX Principles
      </h1>
      <div class="competitive_analysis__content">
        <p>
          Some of the UI/ UX principles are being applied from starting with
          sketching the basic layouts to designing the high-fidelity prototypes
        </p>
        <br />
        <p>These principles helped me to,</p>
        <ul>
          <li style="line-height: 2; margin-bottom: 1rem">
            Understand and use visual hierarchy, background shading, gradients,
            how to group similar items and distinguish different ones.
          </li>
          <li>
            Direct the user attention to specific point of focus and getting the
            user to take specific actions.
          </li>
          <li>Design pleaseing and intuitive UI to use.</li>
        </ul>
      </div>
      <img
        src="./../../assets/work/user_dashboard/principles.png"
        alt=""
        class="competitive_analysis_img-1"
      />
      <img
        src="./../../assets/work/user_dashboard/principles_info.png"
        class="competitive_analysis_img-2"
        alt=""
      />
    </div>
  </div>
  <div class="style_guide">
    <div class="style_guide__sub__cont">
      <h1 class="section__headers section__headers--large">Style Guide</h1>
      <div class="style_guide__content">
        <p>
          Incorporating cool and comfortable colours like purple as a secondary
          colour evokes a sense of peace, wisdom, and pride in users. Paired
          with black as the primary color, the design conveyed power, ambition,
          formality, and peace to users and was the perfect match for Picazu's
          branding. The main typeface of choice for the app is Montserrat, I
          felt this typeface is best fit for the app because of the shape, type
          of serif and the overall style of the letters.
        </p>
        <img src="./../../assets/work/user_dashboard/style_guide.png" alt="" />
      </div>
    </div>
  </div>
  <div class="takeaways">
    <div class="takeaways__sub__cont">
      <h1 class="section__headers section__headers--large">Outcome</h1>
      <div class="takeaways__content">
        <p style="text-align: center">
          It was with excitement and enthusiasm that we moved beyond the vision
          of not just better analysis by the retailers, but also our ability to
          be able to analyse and suggest the market trends to them in order to
          help them increase their sales, which was the primary goal and outcome
          of our venture. Our approach is probably not the best out there, but I
          believe most users found it to be useful. Also, The project gave me a
          chance to play around with the new features in Adobe XD and experiment
          with colour combinations, in addition to the Picazu’s features.
        </p>
        <p style="text-align: center">
          Be sure to check out the process for Picazu’s creation below!
        </p>
        <!-- <button
          class="primary_btn dashboard_btn dashboard_btn-2"
          id="background_white"
        >
          PROCESS DECK
        </button> -->
        <button
          class="primary_btn dashboard_btn dashboard_btn-2"
          id="background_white"
          style="
            margin-top: 1.5rem;
            display: flex;
            justify-content: space-between;
          "
          [routerLink]="['/work']"
        >
          Back
          <img
            src="./../../assets/work/virtufit/back_icon.svg"
            alt=""
            style="width: 20px; height: auto; margin-top: 0 !important"
          />
        </button>
      </div>
    </div>
  </div>
</div>
